body
{
	background-color: #000050;
	color:white;
}

footer
{
	clear: both;
}


h1
{
	font-weight: bold;
	padding: 30px 0 0 30px;
}

h3
{
	padding-left: 30px;
}

#podstrony
{
	display:none;
}

#turaLewo
{


	display:inline-block;
	float: left;
	position: absolute;
	font-size:30px;
	border:5px solid black;
	border-radius: 20px;
	background-color: #404040;
	padding: 5px;
	/*margin-left:1%;*/
	margin-left: 20px;
}

#turaPrawo
{

	display:inline-block;
	float: right;
	position: absolute;
	font-size:30px;
	border:5px solid black;
	border-radius: 20px;
	background-color: #404040;
	padding: 5px;
	margin-right:10px;
}

#login
{
	float:right;
	margin-right:10px;
	cursor: pointer;
}

#logOut
{
	float:right;
	margin-right:10px;
	cursor: pointer;
}

#jezyk
{
	float:left;
	cursor: pointer;
}

#blok
{
	background-color: white;
	margin:auto;
	color:black;
	width: 100%;
}

#obrazek
{
	background-image:url(zdj.jpeg);	
	background-color: #333333;
	text-align:center;
	height:300px;
	
}


#zawartosc
{
	background:#004090;
	float: left;
	/*width:58%;*/
	width: 700px;
	height: 500px;
	margin: 10px;
	height:550px;
	border:10px solid #3333cc;
	border-radius: 20px;
	padding:20px;

}

#mecze
{
	font-size:30px;
	border:5px solid black;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#mecze td
{
	font-size:30px;
	border:5px solid black;
}

#amecze
{
	font-size:30px;
	border:5px solid black;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#amecze td
{
	font-size:30px;
	border:5px solid black;

}

#zawartosc h1
{
	margin-left: auto;
	margin-right: auto;

}


#zawartosc p
{
	font-size: 20px;
	color: white;
	align: justify;
}

#zawartosc h2
{
	font-size: 30px;
	color: white;
}

#najlepsiGracze
{

	color: white;
	margin: 10px;
	float: left;
	background:#004090;
	line-height:25px;
	width:12%;
	border:10px solid #3333cc;
	border-radius: 20px;
	font-size: 20px;
	
}

#najlepsiGracze li 
{

	font-size: 20px;

}

#menuNawigacji
{
	margin: 10px;
	float: left;
	background:#004090;
	line-height:50px;
	width:17%;
	border:10px solid #3333cc;
	border-radius: 20px;
}

#menuNawigacji h3
{
	font-size: 40px;
	margin-bottom: 10px;
}



#menuNawigacji Ul
{
	list-style: none;

}

#menuNawigacji li a
{
	color:white;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
}

#menuNawigacji li a:hover
{
	color:#66b3ff;
	font-size: 30px;
	text-decoration: none;
}

#szachownica
{
	clear: none;
	float:left;
	text-align:center;
	border-spacing:0em;
	margin-left:15%;
	margin-right:7%;

	display:inline-block;
}

#formularz
{
	font-size: 20px;
	color: white;
	padding-left: 30px;
}

#formularzRejestracji
{
	font-size: 20px;
	color: white;
	padding-left: 30px;
}

#ustawieniaGry
{
	font-size: 20px;
	color: white;
	padding-left: 30px;	
}


.ciemny
{

	width: 40px;
	height: 40px;
	text-align:center;
	border: 3px solid black;
	float: left;
	cursor: pointer;
	background-color: #331a00;
	font-size:35px;
	font-weight: bold;
	
}


.ciemny:hover
{
	width: 40px;
	height: 40px;
	text-align:center;
	border: 3px solid black;
	float: left;
	cursor: pointer;
	background-color: #663500;
}

.jasny
{
	width: 40px;
	height: 40px;
	text-align:center;

	border: 3px solid black;
	float: left;

	background-color: #997300;
}

.oznaczenie
{
	width: 40px;
	height: 46px;
	text-align:right;
	font-size: 30px;
	float: left;

}

.oznaczenieL
{
	width: 46px;
	height: 40px;
	text-align:center;
	vertical-align: bottom;
	float: left;
	font-size: 30px;


}

.pusty
{
	width: 46px;
	height: 46px;
	text-align:center;
	float: left;
}

