body
{
	background-color: #000050;
	color:white;
}

#login
{
	float:right;
	margin-right:10px;

	
}

#blok
{
	display:block;
	margin:auto;
}

#obrazek
{
	background-image:url(zdj.jpeg);
	
	background-color: #000000;
	text-align:center;
	height:300px;
	
}

#zawartosc
{
	background:#004090;
	float: left;
	width:60%;
	height: 500px;
	margin-left: 10px;
	height:550px;
	border:10px solid #3333cc;
	border-radius: 20px;
	
}

#najlepsiGracze
{
	margin-right: auto;
	color: white;
	margin-left: 10px;
	
	margin-top: 20px;
	float: left;
	background:#004090;
	line-height:25px;
	width:15%;
	border:10px solid #3333cc;
	border-radius: 20px;
	font-size: 20px;
	
}

#najlepsiGracze li 
{

	font-size: 20px;

}

#menuNawigacji
{

	margin-left: 20px;
	margin-top: 20px;
	float: left;
	background:#004090;

	line-height:50px;
	width:15%;
	border:10px solid #3333cc;
	border-radius: 20px;
	
}

#menuNawigacji h3
{
	font-size: 40px;
	margin-bottom: 10px;
}



#menuNawigacji Ul
{
	list-style: none;

	

	
}

#menuNawigacji li a
{
	color:white;
	font-size: 30px;
	text-decoration: none;
}